{% block omikron_factfinder_configuration_main_settings %}
<sw-card class="sw-card--grid"
         :title="$tc('omikron-factfinder.settingForm.mainSettings')">

  <sw-container>
    <div v-if="actualConfigData" class="omikron-factfinder-main-settings-fields">

      <sw-inherit-wrapper v-model="actualConfigData['OmikronFactFinder.config.serverUrl']"
                          :inheritedValue="selectedSalesChannelId === null ? null : allConfigs['null']['OmikronFactFinder.config.serverUrl']">
        <template #content="props">
          <sw-text-field name="OmikronFactFinder.config.serverUrl"
                         :mapInheritance="props"
                         :label="$tc('omikron-factfinder.settingForm.serverUrl')"
                         :disabled="props.isInherited"
                         :value="props.currentValue"
                         @change="props.updateCurrentValue">
          </sw-text-field>
        </template>
      </sw-inherit-wrapper>

      <sw-inherit-wrapper v-model="actualConfigData['OmikronFactFinder.config.channel']"
                          :inheritedValue="selectedSalesChannelId === null ? null : allConfigs['null']['OmikronFactFinder.config.channel']">
        <template #content="props">
          <sw-text-field name="OmikronFactFinder.config.channel"
                         :mapInheritance="props"
                         :label="$tc('omikron-factfinder.settingForm.channel')"
                         :disabled="props.isInherited"
                         :value="props.currentValue"
                         @change="props.updateCurrentValue">
          </sw-text-field>
        </template>
      </sw-inherit-wrapper>

      <sw-inherit-wrapper v-model="actualConfigData['OmikronFactFinder.config.user']"
                          :inheritedValue="selectedSalesChannelId === null ? null : allConfigs['null']['OmikronFactFinder.config.user']">
        <template #content="props">
          <sw-text-field name="OmikronFactFinder.config.user"
                         :mapInheritance="props"
                         :label="$tc('omikron-factfinder.settingForm.user')"
                         :disabled="props.isInherited"
                         :value="props.currentValue"
                         @change="props.updateCurrentValue">
          </sw-text-field>
        </template>
      </sw-inherit-wrapper>


      <sw-inherit-wrapper v-model="actualConfigData['OmikronFactFinder.config.password']"
                          :inheritedValue="selectedSalesChannelId === null ? null : allConfigs['null']['OmikronFactFinder.config.password']">
        <template #content="props">
          <sw-text-field name="OmikronFactFinder.config.password"
                         :mapInheritance="props"
                         :label="$tc('omikron-factfinder.settingForm.password')"
                         :disabled="props.isInherited"
                         :value="props.currentValue"
                         @change="props.updateCurrentValue">
          </sw-text-field>
        </template>
      </sw-inherit-wrapper>

      <sw-inherit-wrapper v-model="actualConfigData['OmikronFactFinder.config.version']"
                          :inheritedValue="selectedSalesChannelId == null ? null : allConfigs['null']['OmikronFactFinder.config.version']"
                          :label="$tc('omikron-factfinder.settingForm.version')">
        <template #content="props">
          <sw-single-select name="OmikronFactFinder.config.version"
                            labelProperty="name"
                            valueProperty="id"
                            :options="versions"
                            :isInherited="props.isInherited"
                            :disabled="props.isInherited"
                            :value="props.currentValue"
                            @input="props.updateCurrentValue">
          </sw-single-select>
        </template>
      </sw-inherit-wrapper>


      <sw-button-process
        :isLoading="isLoading"
        :disabled="testButtonDisabled"
        @click="onTestConnection()">
        {{ $tc('omikron-factfinder.settingForm.testConnection') }}
      </sw-button-process>
    </div>
  </sw-container>
</sw-card>
{% endblock %}
